In [136]:
#importando bibliotecas
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime

Explorando Pedidos

In [137]:
#importando dados dos pedidos
df_orders = pd.read_csv('src\olist_orders_dataset.csv')
df_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [138]:
#pegando uma amostra dos dados
df_orders.sample(10)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
58960,42e0016d4e9741a353d671930aa9f3d5,22d71d5bfb32603ec8ebdf2bf6bde858,delivered,2018-08-10 21:12:22,2018-08-10 21:25:20,2018-08-14 13:15:00,2018-08-20 19:59:01,2018-08-29 00:00:00
85500,1e57bb5d95b6233ac77353120c7c23f6,782d7378428276999daf47cec05cb938,delivered,2018-07-04 16:07:06,2018-07-05 16:11:43,2018-07-10 14:33:00,2018-07-12 19:03:24,2018-07-24 00:00:00
39144,a9a2c78d1e141e7627d58444422ca153,a1cc7ba043c795a62707cee79758b7e1,delivered,2018-03-24 18:01:11,2018-03-24 18:15:24,2018-03-26 20:03:42,2018-04-03 16:48:38,2018-04-17 00:00:00
94703,d47fb5aec546dd9f12ed5495f96bc350,9d89e026dc5b2c75f900835652994a75,delivered,2018-05-04 16:45:37,2018-05-04 17:10:07,2018-05-07 12:43:00,2018-05-08 16:12:37,2018-05-17 00:00:00
92441,4df721b8d3b3a4803b1704f3676a420f,3a05feb5eaa782c7558fd51a2ad9c4f8,delivered,2017-09-09 18:17:29,2017-09-12 04:55:18,2017-09-14 17:33:36,2017-09-15 20:51:31,2017-09-22 00:00:00
7989,bddbca2d48a961d74fe81de8febf9a73,0c90e2e49b87f3b84262ad7f6f7b11af,delivered,2018-03-22 09:15:32,2018-03-22 09:30:34,2018-03-22 19:41:48,2018-03-27 18:09:02,2018-04-16 00:00:00
59791,b8e89b6c4b552e3302842c82c3d3690b,cfa0018ea537f7a14133c72d679afd74,delivered,2018-01-17 23:55:52,2018-01-18 00:10:37,2018-01-22 12:09:11,2018-02-08 19:40:38,2018-02-16 00:00:00
59857,4bdb3af7b8d5db206e5ea7b4f964ba4c,7a5f00b8eaeff82f1d3be0ff6ef8035e,delivered,2018-06-30 22:25:00,2018-07-05 16:05:22,2018-07-03 13:56:00,2018-07-06 19:08:10,2018-07-25 00:00:00
97678,572be93cb31b1fcee2a7fac8071c8208,12d8f59b2dae0dc76a89a355816a3251,delivered,2017-12-09 16:16:19,2017-12-09 16:31:21,2017-12-20 16:52:05,2018-01-13 20:04:19,2018-01-09 00:00:00
42642,ecf079f16ac07328e5153aa201fbbb1e,205fcc6c48de256d3956dfba9fc6c0de,delivered,2018-08-01 12:40:21,2018-08-01 13:20:18,2018-08-03 11:04:00,2018-08-17 00:22:06,2018-08-31 00:00:00

In [139]:
#verificando tipo dos dados
df_orders.dtypes

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

In [140]:
#convertendo dados
#Para order_purchase_timestamp
df_orders['order_purchase_timestamp'] = pd.to_datetime(df_orders['order_purchase_timestamp'])
#Para order_approved_at
df_orders['order_approved_at'] = pd.to_datetime(df_orders['order_approved_at'])
#Para order_delivered_carrier_date
df_orders['order_delivered_carrier_date'] = pd.to_datetime(df_orders['order_delivered_carrier_date'])
#Para order_delivered_customer_date
df_orders['order_delivered_customer_date'] = pd.to_datetime(df_orders['order_delivered_customer_date'])
#Para order_estimated_delivery_date
df_orders['order_estimated_delivery_date'] = pd.to_datetime(df_orders['order_estimated_delivery_date'])

#convertendo a coluna order_status
df_orders['order_status'] = df_orders['order_status'].astype('string')

df_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26

In [141]:
#conferindo nulos
df_orders.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [142]:
#analisando nulos por status
cols_check = ['order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date']

for col in cols_check:
    print(f'\nNulos em {col} por status:')
    print(df_orders[df_orders[col].isnull()]['order_status'].value_counts())

Nulos em order_approved_at por status:
order_status
canceled     141
delivered     14
created        5
Name: count, dtype: Int64

Nulos em order_delivered_carrier_date por status:
order_status
unavailable    609
canceled       550
invoiced       314
processing     301
created          5
approved         2
delivered        2
Name: count, dtype: Int64

Nulos em order_delivered_customer_date por status:
order_status
shipped        1107
canceled        619
unavailable     609
invoiced        314
processing      301
delivered         8
created           5
approved          2
Name: count, dtype: Int64

Explorando Customers

In [143]:
#importando Clientes
df_customers = pd.read_csv('src\olist_customers_dataset.csv')
df_customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [144]:
#pegando uma amostra dos dados
df_customers.sample(10)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
11780,db39613bbd6ee688f9a8ae61d3a81e32,6aa4cd4b388fff5360fc426032e17115,5187,sao paulo,SP
69195,022436c15d537fc7a1dd70e6000cbf66,cdaee53ab8f7c1d14ded5eb32714a4a6,73015,brasilia,DF
66326,53d7bdb03c1054588851c0440946f5fa,45b2abdef10b6982e4bf4673a72a1e16,24210,niteroi,RJ
97743,8e37466ad86944a7a42628b170a417c3,b85e213f9db37110648ee929f5c5b19a,35700,sete lagoas,MG
48149,db913801d35c42706a588ed996c67318,208fe9aa6033a77419f8f503b7698e03,93010,sao leopoldo,RS
43593,7d2923a34828c8f767f2c6b110ddf4d3,6e1145876e0dbd91cfb65d1780c7c212,95275,nova padua,RS
81415,fc6f2443283ec7170b178d24aaf69f15,ac1693bc8be40d9b685a670055bf3344,8132,sao paulo,SP
5830,047bf05a26a10d5fd5f98a37b5ad1848,2eb9d66d7bbb2fc1083e530b8e51dff9,9320,maua,SP
59789,b74e4b5a94ada60313382c04f7f97ab5,7f2cda3176dfed4ce878d884bcd62955,11320,sao vicente,SP
64602,e7c1bcfe34cb8e778701ceb0b4b4780d,de8ce480b6119f2835ce8ad07c326793,9371,maua,SP

In [145]:
#verificando tipo dos dados
df_customers.dtypes

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

In [146]:
#convertendo dados
#Para customer_city
df_customers['customer_city'] = df_customers['customer_city'].astype('category')
#Para customer_state
df_customers['customer_state'] = df_customers['customer_state'].astype('category')
df_customers.dtypes

customer_id                   object
customer_unique_id            object
customer_zip_code_prefix       int64
customer_city               category
customer_state              category
dtype: object

In [147]:
#conferindo nulos
df_customers.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

Explorando Geolocalização

In [148]:
df_geolocation = pd.read_csv('src\olist_geolocation_dataset.csv')
df_geolocation.head()

ParserError: Error tokenizing data. C error: out of memory

In [ ]:
#verificando tipo dos dados
df_geolocation.dtypes

geolocation_zip_code_prefix      int64
geolocation_lat                float64
geolocation_lng                float64
geolocation_city                object
geolocation_state               object
dtype: object

In [ ]:
#convertendo dados
#Para customer_city
df_geolocation['geolocation_city'] = df_geolocation['geolocation_city'].astype('category')
#Para customer_state
df_geolocation['geolocation_state'] = df_geolocation['geolocation_state'].astype('category')
df_geolocation.dtypes

geolocation_zip_code_prefix       int64
geolocation_lat                 float64
geolocation_lng                 float64
geolocation_city               category
geolocation_state              category
dtype: object

In [ ]:
#conferindo nulos
df_geolocation.isnull().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

Explorando Itens

In [ ]:
df_items = pd.read_csv('src\olist_order_items_dataset.csv')
df_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [ ]:
#amostra
df_items.sample(20)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
23982,36a423301e22ec2c1911afa7e7c7c48c,1,f510b05e475dddcb832edeebeea10f20,1336efc61c316ddf92c899eb817f7cae,2018-04-08 22:48:17,54.99,13.74
36168,52038f72e03466900807aa5ec042d3ed,1,bdb4be6ce2f7f2b5be0a16088028c7fc,955fee9216a65b617aa5c0531780ce60,2017-12-04 16:50:45,85.00,14.20
94829,d710a78f61cc62d2aeb7ebde38ee7738,1,74d7448191f6e492834de7fe6dd952c2,620c87c171fb2a6dd6e8bb4dec959fc6,2017-03-17 16:40:57,199.90,56.26
88202,c84d01937d1c2029a7f3628f55a3711a,1,71a7800a633691de8ecdd17463335e2e,f80edd2c5aaa505cc4b0a3b219abf4b8,2018-08-24 16:55:31,72.90,9.26
21730,31a6cbe67abc9e5414688f0f59681ec0,1,fb14dbd8b5d4195d70df81f35b593889,5b33b527da3c5b969cc99dc435cad09a,2017-06-29 17:43:11,29.90,16.79
106911,f2fa3795760c35b8c05fa8e2f09d5143,3,eab67bf937aaadc19f83383a331d2dd9,7c67e1448b00f6e969d365cea6b010ab,2018-04-17 05:10:21,149.99,32.05
56363,802a4ce6a0333eb94effff686abc8f27,1,e2e426d1332240070b0a836a854d057b,cce6ab8d1682639fe45ab70234f1665f,2017-06-16 09:35:15,34.90,17.60
58907,86274c00b0ec7c91b000d4c6cac1dc72,1,ec268f069320a08af47861967e4d7bee,c3cfdc648177fdbbbb35635a37472c53,2017-06-19 09:35:17,112.80,17.04
42572,60f4971cd353e8200e728e33302cef59,1,aca2eb7d00ea1a7b8ebd4e68314663af,955fee9216a65b617aa5c0531780ce60,2018-01-25 23:30:37,69.90,13.08
90075,cc97c71d908caa2c0b5754b35ebaccd8,1,722dc14e0848efdb771dca6de2929c41,7178f9f4dd81dcef02f62acdf8151e01,2017-10-11 01:56:15,79.00,42.58
96165,da2b5ed33ae5068005e9d2c43e7a3de1,1,a8075470f960215ffb67624782f80fec,ff063b022a9a0aab91bad2c9088760b7,2018-08-14 06:50:08,119.00,22.70
74250,a92cb0dfef8b722e7edb2b8945fd8baf,1,91c82ace62e0ca1b69b1a45bcc214b45,4869f7a5dfa277a7dca6462dcf3b52b2,2018-06-08 13:35:23,159.90,13.56
56959,81923dfc527e6776a83b7e7d7b2c8dc4,1,5929e483b6df44414c047cac38873fe6,aaed1309374718fdd995ee4c58c9dfcd,2018-05-10 02:55:14,42.90,22.93
86817,c52b847a710480721b6c4def72048468,1,c10426af8413edc42015b10a76b43651,7040e82f899a04d1b434b795a43b4617,2017-12-19 20:08:21,79.90,9.37
87757,c73bbcd64afe483b00a38c3d28c1c66a,1,9324d11d98d73e980e13fbd30569e9e4,5cf13accae3222c70a9cac40818ae839,2018-08-29 20:35:19,99.90,19.89
23355,353fcb9f0aa5bfdba9d0f676bdc044f3,1,f6d1df8e2ffa44fec7c8afa46ac7ddec,77530e9772f57a62c906e1c21538ab82,2018-01-10 22:55:21,49.00,14.10
33712,4c5277b8c416e92df5b5b5b3882b4d58,1,c3099dfa5bca8734d228152d9c7d894c,0432ead42b6c8a0bdf68154add917fdf,2017-05-16 20:05:14,94.90,14.41
84505,bffcc9542fded0634d8f15fed3c24b86,1,bee2e070c39f3dd2f6883a17a5f0da45,4e922959ae960d389249c378d1c939f5,2018-02-13 15:10:22,180.00,16.01
29562,43331248a781e8394ddf4779ca2e664f,1,ba131cee7989ef04b93a79030969c92f,1025f0e2d44d7041d6cf58b6550e0bfa,2018-06-21 20:31:34,25.00,26.48
93479,d3e02de362fc9f3853a322184625c590,1,228f57b1acb5bdce9401c58653c8cc14,7e93a43ef30c4f03f38b393420bc753a,2017-05-16 14:55:09,205.81,16.20

In [ ]:
#verificando nulos
df_items.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

Explorando Pagamentos

In [ ]:
df_payments = pd.read_csv('src\olist_order_payments_dataset.csv')
df_payments.head(10)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
5,298fcdf1f73eb413e4d26d01b25bc1cd,1,credit_card,2,96.12
6,771ee386b001f06208a7419e4fc1bbd7,1,credit_card,1,81.16
7,3d7239c394a212faae122962df514ac7,1,credit_card,3,51.84
8,1f78449c87a54faf9e96e88ba1491fa9,1,credit_card,6,341.09
9,0573b5e23cbd798006520e1d5b4c6714,1,boleto,1,51.95

In [ ]:
#verificar tipos de pagamento
df_payments['payment_type'].unique()

array(['credit_card', 'boleto', 'voucher', 'debit_card', 'not_defined'],
      dtype=object)

Explorando Reviews

In [ ]:
df_reviews = pd.read_csv('src\olist_order_reviews_dataset.csv')
df_reviews.head(10)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
5,15197aa66ff4d0650b5434f1b46cda19,b18dcdf73be66366873cd26c5724d1dc,1,NaN,NaN,2018-04-13 00:00:00,2018-04-16 00:39:37
6,07f9bee5d1b850860defd761afa7ff16,e48aa0d2dcec3a2e87348811bcfdf22b,5,NaN,NaN,2017-07-16 00:00:00,2017-07-18 19:30:34
7,7c6400515c67679fbee952a7525281ef,c31a859e34e3adac22f376954e19b39d,5,NaN,NaN,2018-08-14 00:00:00,2018-08-14 21:36:06
8,a3f6f7f6f433de0aefbb97da197c554c,9c214ac970e84273583ab523dfafd09b,5,NaN,NaN,2017-05-17 00:00:00,2017-05-18 12:05:37
9,8670d52e15e00043ae7de4c01cc2fe06,b9bf720beb4ab3728760088589c62129,4,recomendo,aparelho eficiente. no site a marca do aparelh...,2018-05-22 00:00:00,2018-05-23 16:45:47

In [ ]:
#verificando nulos
df_reviews.isnull().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

Explorando Produtos

In [ ]:
df_products = pd.read_csv('src\olist_products_dataset.csv')
df_products.head(10)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
5,41d3672d4792049fa1779bb35283ed13,instrumentos_musicais,60.0,745.0,1.0,200.0,38.0,5.0,11.0
6,732bd381ad09e530fe0a5f457d81becb,cool_stuff,56.0,1272.0,4.0,18350.0,70.0,24.0,44.0
7,2548af3e6e77a690cf3eb6368e9ab61e,moveis_decoracao,56.0,184.0,2.0,900.0,40.0,8.0,40.0
8,37cc742be07708b53a98702e77a21a02,eletrodomesticos,57.0,163.0,1.0,400.0,27.0,13.0,17.0
9,8c92109888e8cdf9d66dc7e463025574,brinquedos,36.0,1156.0,1.0,600.0,17.0,10.0,12.0

In [ ]:
#verificando nulos
df_products.isnull().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [150]:
#remover valores nulos
df_products.dropna(subset=['product_category_name'], inplace=True)

df_products.isnull().sum()

product_id                    0
product_category_name         0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              1
product_length_cm             1
product_height_cm             1
product_width_cm              1
dtype: int64